<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<true/>
				<key>FixACST</key>
				<true/>
				<key>FixADP1</key>
				<true/>
				<key>FixDarwin</key>
				<true/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixLAN</key>
				<false/>
				<key>FixMutex</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixRegions</key>
				<true/>
				<key>FixS3D</key>
				<true/>
				<key>FixSATA</key>
				<true/>
				<key>FixSBUS</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
				<key>FixTMR</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EUSB to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RVVTQg==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change USBE to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>VVNCRQ==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename XHCI to XHC (USB)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
				</dict>
			</array>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v npci=0x2000 dart=0</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>LANInjection</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,0,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Xeon E5/Core i7 DMI2</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Xeon E5/Core i7 IIO PCI Express Root Port 1a</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x11,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,17,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>C600/X79 series chipset PCI Express Virtual Root Port</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x11,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,17,0/0,0</string>
				<key>device_type</key>
				<string>Serial Attached SCSI controller</string>
				<key>model</key>
				<string>C602 chipset 4-Port SATA Storage Control Unit</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,0</string>
				<key>device_type</key>
				<string>Communication controller</string>
				<key>model</key>
				<string>C600/X79 series chipset MEI Controller #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,2</string>
				<key>device_type</key>
				<string>IDE interface</string>
				<key>model</key>
				<string>C600/X79 series chipset IDE-r Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,3</string>
				<key>device_type</key>
				<string>Serial controller</string>
				<key>model</key>
				<string>C600/X79 series chipset KT Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x19,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,25,0</string>
				<key>device_type</key>
				<string>Ethernet controller</string>
				<key>model</key>
				<string>82579LM Gigabit Network Connection (Lewisville)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1A,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,26,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>C600/X79 series chipset USB2 Enhanced Host Controller #2</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,0</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>hda-gfx</key>
				<string>onboard-2</string>
				<key>layout-id</key>
				<data>CwAAAA==</data>
				<key>model</key>
				<string>C600/X79 series chipset High Definition Audio Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>C600/X79 series chipset PCI Express Root Port 2</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0/0,0</string>
				<key>device_type</key>
				<string>Ethernet controller</string>
				<key>model</key>
				<string>82574L Gigabit Network Connection</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x5)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,5</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>C600/X79 series chipset PCI Express Root Port 5</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x6)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,6</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>C600/X79 series chipset PCI Express Root Port 3</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x7)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,7</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>C600/X79 series chipset PCI Express Root Port 4</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x7)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,7/0,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>TUSB73x0 SuperSpeed USB 3.0 xHCI Host Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,29,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>C600/X79 series chipset USB2 Enhanced Host Controller #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1E,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,30,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>82801 PCI Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1E,0x0)/Pci(0x5,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,30,0/5,0</string>
				<key>device_type</key>
				<string>FireWire (IEEE 1394)</string>
				<key>model</key>
				<string>FW322/323 [TrueFire] 1394a Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,0</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>C600/X79 series chipset LPC Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,2</string>
				<key>device_type</key>
				<string>SATA controller</string>
				<key>model</key>
				<string>C600/X79 series chipset 6-Port SATA AHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>C600/X79 series chipset SMBus Host Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Xeon E5/Core i7 IIO PCI Express Root Port 2a</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x3,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,3,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Xeon E5/Core i7 IIO PCI Express Root Port 3a in PCI Express Mode</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x5,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,5,0</string>
				<key>device_type</key>
				<string>System peripheral</string>
				<key>model</key>
				<string>Xeon E5/Core i7 Address Map, VTd_Misc, System Management</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x5,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,5,2</string>
				<key>device_type</key>
				<string>System peripheral</string>
				<key>model</key>
				<string>Xeon E5/Core i7 Control Status and Global Errors</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x5,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,5,4</string>
				<key>device_type</key>
				<string>PIC</string>
				<key>model</key>
				<string>Xeon E5/Core i7 I/O APIC</string>
			</dict>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ConsoleMode</key>
		<string>0</string>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g/kPDw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/k/Dw==</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>0AUAAITAdEbo</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>0AUAAITA60bo</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>04/12/2020</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MP61.88Z.F000.B00.2004121755</string>
		<key>Board-ID</key>
		<string>Mac-F60DEB81FF30ACF6</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>11</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>Pro-Enclosure</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x02</string>
		<key>EfiVersion</key>
		<string>136.0.0.0.0</string>
		<key>Family</key>
		<string>MacPro</string>
		<key>FirmwareFeatures</key>
		<string>0xE80FE176</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF7F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>NoRomInfo</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x04</string>
		<key>ProductName</key>
		<string>MacPro6,1</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NoCaches</key>
		<true/>
	</dict>
</dict>
</plist>